.navbar {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    position: relative;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}
.navbar .nav-links li {
    margin-left: 20px;
    list-style-type: none;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

/* Hover Effect for Mobile View */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
    }

    .navbar .nav-links {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        /* display: none; */
        /* Initially hide the menu */
    }

    
}

